page {
    size: A4;
    margin: 0;
    pading: 0;
}
@font-face {
        font-family: 'Jumping Chick';
    src: url('fonts/Jumping Chick.otf') format ('opentype'),
         url('fonts/Jumping Chick.ttf') format ('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('Project TIK kel 1 web.png');
    margin: 0;
    padding: 0;
    font-family: Jumping Chick, sans-serif;
}

h1 {
    text-align: center;
    font-family: "Chango", sans-serif;
    font-weight: bold;
    color: #ca467c;
    margin-top: 20px;
    font-size: 50px;
}

h2 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
}



img {
    display: block;
    
    margin: 20px auto;
    max-width: 80%; 
    height: auto;
    border-radius: 8px; 
}

ul {
    list-style-type: none;
    border-top: 10px solid beige;    
    border-bottom: 10px solid beige;  
    background-color: white;
    
   
    display: flex;
    justify-content: center; 
    align-items: center;   
    
    padding: 30px 30px;   
    margin: 0;
    width: 100%;             
    box-sizing: border-box; 
}

li {
    
    padding: 0 100px;         
    font-size: 17px;
    font-family: Papyrus, serif;
    color: #ca467c;         
    cursor: pointer;
}
img {
    display: block;
    margin: 20 20;
    max-width: 80%;
}

.chango-regular {
  font-family: "Chango", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
}

