page {
    size: A4;
    margin: 0;
    padding: 0;
}
@font-face {
        font-family: 'Jumping Chick';
    src: url('fonts/Jumping Chick.otf') format ('opentype'),
         url('fonts/Jumping Chick.ttf') format ('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url('Project TIK kel 1 web.png');
    margin: 0;
    padding: 0;
    font-family: Jumping Chick, sans-serif;
}

h1 {
    
    display: block;
    margin: 50px auto;
    width: fit-content;
    text-align: center;

    
    font-family: "Chango", sans-serif;
    font-size: 80px;           
    font-weight: bold;
    color: #ca467c;

    
    background-color: #f5f5dc;
    padding: 40px 80px;        
    border-radius: 20px;        
    
    
    box-shadow: 0 10px 20px rgba(0,0,0,0.1); 
     
}


h2, h3, p {
    margin: 0;           
    width: 100%;         
    background-color: #ca467c; 
    text-align: center;
    box-sizing: border-box;
}


h2 {
    text-align: center;
    font-family: "Redressed", Courier, monospace;
    font-size: 50px;
    line-height: 1.6;
    font-size: 30px
    color: white;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: #ca467c;
    padding: 20px 0;
    padding-top: 40px;
    padding-bottom: 5px;
}

h3 {
    text-align: center;
    font-family: "Redressed", Courier, monospace;
    font-size: 25px;
    line-height: 1.6;
    color: #6f0800; 
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: #ca467c;
    padding: 20px 0;
    padding-bottom: 50px;

}

h4 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
}



img {
    display: block !important; 
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 80%;
    height: auto;
    border-radius: 8px;
}

ul {
    background-color: #6f6261;
    border-top: none;
    border-bottom: none;
    display: flex;
    justify-content: center; 
    align-items: center;   
    
    padding: 30px 30px;   
    margin: 0;
    width: 100%;             
    box-sizing: border-box; 
}

li {
    
    padding: 0 100px;         
    font-size: 17px;
    font-family: Papyrus, serif;
    color: #ca467c;         
    cursor: pointer;
}


.chango-regular {
  font-family: "Chango", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: #ca467c;
    color: black;
    padding: 0 50px 40px 50px;
}


.redressed-regular {
  font-family: "Redressed", cursive;
  font-weight: 400;
  font-style: normal;
}

